.footer {
    display: block;
    padding: 30px 5px;
    border-top: 1px solid #525151;
}

.mainclass {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


@media screen {
    .footer img {
        width: 200px;
    }    
}

@media  all and (max-width: 768px) {
    .footer img {
        width: 100px;
    }  
}