
.wrap-title {
    margin: 10px 0px;
    background-color: #242525;
    display: block;
}

.title {
    font-size: 17px;
    font-weight: 700;
    position: relative;
    height: 40px;
    color: #a7a7a7;
    align-items: center;
    display: inline-flex;
    padding: 0 20px;
    background-color: #000;
}
